- function hashCode(s){return s.split("").reduce(function(a,b){a=((a<<5)-a)+b.charCodeAt(0);return a&a},0);}

mixin image(imageUrl, zoomable, fullImageUrl)
  figure.image
    img(
      src=imageUrl
      class=zoomable ? 'is-zoomable' : ''
      data-fullwidth-src=fullImageUrl
      id=zoomable ? 'zoomable-' + hashCode(imageUrl) : ''
    )


mixin work(work)
  .columns.work
    .column
      if !work.layout || work.layout === 'default'
        each imageUrl in work.images
          +image(imageUrl)
      if work.layout === 'columns'
        .columns
          each imageUrl in work.images
            .column
              +image(imageUrl)
    .cartel-container.column.is-one-quarter
      .cartel!= work.cartel
